/*
*  @author José Carlo
*  @version 0.1
*
*/

.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url(imagens/spotify.svg) no-repeat;
    background-size: contain;
    color: transparent;
}

nav.navbar-transparente {
   padding: 15px 0px;
   background: rgba(0, 0, 0, 0.6);
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 15px 10px;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li>a:hover {
    color: #00c93f;
}
