@keyframes animacao-box{
    from {background: red;}
    to {background: yellow}
}

#box-animacao {
    background: red;
    width: 300px;
    height: 300px;
    animation-name: animacao-box;
    animation-duration: 5s;
}